.banner__holder {
  margin: 30px auto;
  height: 400px;
  width: 1100px;
}

.banner {
  display: flex;
  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.banner__bullet {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center left;
  z-index: -1;
}

.banner__cover {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: -1;
}

.banBullet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  color: white;
  padding: 20px;
}

.banBullet__header {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  color: white;
  line-height: 40px;
}

.banBullet__headNote {
  margin: 0; padding: 0;
  font-size: 21px;
  font-weight: 100;
  color: white;
}

.banBullet__desc {
  display: flex;
  align-items: center;
  flex-grow: 1;

  font-weight: 100;
  font-family: 'RobotoLight';
  font-size: 24px;
  line-height: 35px;

  color: white;
  margin: 0; padding: 0;
}

.banBullet__timerTitle {
  margin: 0; padding: 0;
  font-size: 18px;
  font-weight: 100;
}

.timer {
  display: flex;
  gap: 10px;

  font-size: 31px;
}

.banBullet__send { 
  display: block;
  padding: 10px 40px;
  margin: 0;

  font-size: 18px;
  font-weight: 100;
  
  color: white;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0);

  cursor: pointer;
  transition: .3s;
}

.banBullet__send:hover {
  background: rgba(255, 255, 255, 1);
  color: black;
}